SQLAlchemy
aiofiles
aiogram
aiohappyeyeballs
aiohttp
aiosignal
aiosqlite
annotated-types
attrs
certifi
ffmpeg
frozenlist
greenlet
idna
ikm
magic-filter
multidict
pip
propcache
pydantic
pydantic-core
python-dotenv
setuptools
typing-extensions
wheel
yarl
Flask
Flask-Session
openpyxl