<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>STARODONIE WebApp</title>
    <!-- FullCalendar CSS -->
    <link href='https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/main.min.css' rel='stylesheet' />
    <!-- Ваш CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <!-- Общая шапка -->
    <header>
        <h1>Система графиков «Стародонье»</h1>
    </header>

    <div class="content">
        {% block content %}
        {% endblock %}
    </div>

    <!-- FullCalendar JS -->
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/main.min.js'></script>
    <!-- Ваш JS -->
    <script src="{{ url_for('static', filename='js/calendar.js') }}"></script>
</body>
</html>
